@use '../../_colors.scss' as *;

.background {
    border-bottom: 1px solid $borderGray;
    position: relative;
}

.container {
    max-width: 1472px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 228px 16px 200px 16px;
    gap: 32px;
}

.contant {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 780px;
    width: 100%;
    gap: 24px;
    flex: 1;
}

.contant h1 {
    font-size: 40px;
    color: $primaryBlue;
    line-height: 40px;
    font-weight: 500;
}

.contant h1 p {
    color: $primaryDark;
    margin-top: 24px;
    line-height: 46px;
}

.contant>p {
    max-width: 690px;
    width: 100%;
    color: $primaryGray;
    font-size: 18px;
    line-height: 40px;
    font-weight: 400;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 40px;
    width: 100%;
}

.joinUs {
    height: 56px;
    max-width: 310px;
    width: 100%;
}

.more {
    height: 56px;
    max-width: 236px;
    width: 100%;
}

.heroDesktop {
    width: 100%;
    max-width: 630px;
    height: auto;
}

.heroUpLines {
    position: absolute;
    top: 88px;
    right: 0;
}

.heroDownLines {
    position: absolute;
    bottom: 0;
    left: 0;
}

.heroLaptop {
    display: none;
}

.heroMobile {
    display: none;
}

@media (max-width: 1200px) {
    .heroImage {
        width: 450px;
        height: 350px;
    }
}

@media (max-width: 1024px) {
    .contant {
        gap: 16px;
    }

    .contant h1 {
        font-size: 24px;
        line-height: 36px;
    }

    .contant h1 p {
        margin-top: 0px;
        line-height: 36px;
    }

    .contant>p {
        font-size: 16px;
    }

    .buttons {
        margin-top: 0px;
    }
}

@media (max-width: 900px) {
    .container {
        padding: 112px 16px 24px 16px;
    }

    .heroImage {
        display: none;
    }

    .heroLaptop {
        display: flex;
    }

    .heroDownLines {
        display: none;
    }
}

@media (max-width: 700px) {
    .container {
        padding: 112px 16px 24px 16px;
    }

    .contant {
        align-items: center;
    }

    .contant h1 {
        align-self: flex-start;
    }
    .buttons {
        justify-content: center;
    }
    .heroImage {
        display: none;
    }

    .heroLaptop {
        display: flex;
    }

    .heroDownLines {
        display: none;
    }

    .heroLaptop {
        display: none;
    }

    .heroMobile {
        display: flex;
    }
}