
$primaryBlue: #15516B;
$secondaryBlue: #0D92F2;
$primaryDark: #232323;
$primaryGray: #979797;
$secondaryGray: #9194A1;
$borderGray: #D9D9D9;
$white: #FFFFFF;
$inputBackground: #ECF0F3;
$inputPlaceholder: #7C8CAB;
$languageBorder: #EBEBEB;
