@use '../../_colors.scss' as *;

.content {
    border-bottom: 1px solid $borderGray;
    padding: 120px 16px;
    max-width: 1472px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.cardsContainer li {
    transition: transform 0.5s ease, box-shadow 0.3s ease;
    will-change: transform, box-shadow;
    border-radius: 12px;
}

.cardsContainer li:hover {
    transform: scale(1.02);
}

.content h2 {
    font-size: 40px;
    line-height: 40px;
    color: $primaryDark;
    font-weight: 500;
}


.cardsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 48px;
    column-gap: 36px;
}
.imageWrapper {
    position: relative;
    width: 100%;
    height: 320px;
    border-radius: 12px;
    overflow: hidden;
}

.cardsContainer h3 {
    font-size: 24px;
    line-height: 40px;
    color: $primaryBlue;
    font-weight: 600;
    margin: 16px 6px 0px 6px;
}

.cardsContainer p {
    font-size: 16px;
    line-height: 32px;
    color: $primaryDark;
    font-weight: 400;
    margin: 6px 6px 0px 6px;
}

@media (max-width: 1200px) {
    .cardsContainer h3 {
        font-size: 20px;
    }

    .cardsContainer p {
        font-size: 14px;
    }

    .imageWrapper {
        height: 260px;
    }
}

@media (max-width: 1024px) {
    .cardsContainer {
        grid-template-columns: repeat(2, 1fr);
    }

    .cardsContainer img {
        max-width: 476px;
    }

    .cardsContainer li:hover {
        transform: scale(1);
    }

    .content h2 {
        font-size: 36px;
    }
}

@media (max-width:900px) {
    .content {
        padding: 48px 16px 0px 16px;
        border-bottom: none;
    }
        .imageWrapper {
        height: 240px;
    }
}

@media (max-width: 768px) {
    .content h2 {
        font-size: 24px;
    }

    .cardsContainer h3 {
        font-size: 18px;
        margin-top: 8px;
    }

    .cardsContainer {
        row-gap: 40px;
        column-gap: 16px;
    }

    .cardsContainer p {
        margin-top: 4px;
    }
        .imageWrapper {
        height: 220px;
    }
}

@media (max-width: 610px) {
    .cardsContainer {
        max-width: 476px;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }
}

@media (max-width: 400px) {
    .content h2 {
        font-size: 18px;
    }

    .content {
        gap: 16px;
    }
}