@use '../../_colors.scss' as *;

.background {
    position: relative;
}

.container {
    max-width: 1472px;
    width: 100%;
    border-top: 1px solid $borderGray;
    border-bottom: 1px solid $borderGray;
    margin: 0 auto;
    margin-top: 150px;
    padding: 120px 16px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.content {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding: 0px 32px;
}

.container h2 {
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;
    color: $primaryDark;
}

.textsContainer {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contacts>div>h3 {
    color: $primaryBlue;
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
}

.contacts>div>p {
    font-size: 18px;
    line-height: 40px;
    font-weight: 400;
    color: $secondaryGray;
}

.icons {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
}

.links {
    min-width: 370px;
}

.generalInfo {
    min-width: 230px;
}

.generalInfo p:nth-child(1) {
    color: $primaryBlue;
}

.generalInfo p:nth-child(3) {
    color: $primaryDark;
}

.contactLeftLines {
    position: absolute;
    left: 0;
    top: 15%;
    width: 280px;
    height: 650px;
}

.contactRightLines {
    position: absolute;
    right: 0;
    top: -15%;
    width: 280px;
    height: 650px;
}

@media (max-width: 1024px) {
    .container {
        gap: 16px;
        align-items: center;
    }

    .container h2 {
        font-size: 36px;
        align-self: flex-start;
    }

    .textsContainer {
        flex-direction: row;
        max-width: 710px;
    }

    .content {
        flex-direction: column;
    }

    .contacts>div>h3 {
        font-size: 20px;
    }

    .contacts>div>p {
        font-size: 16px;
    }

    .contacts {
        gap: 16px;
    }

    .generalInfo {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}

@media (max-width: 900px) {
    .container {
        border: none;
        margin: 66px 0px 48px 0px;
        padding: 0px 16px;
    }

    .contactLeftLines {
        display: none;
    }

    .contactRightLines {
        display: none;
    }
}

@media (max-width: 680px) {

    .content {
        padding: 0px;
        gap: 24px;
    }

    .container h2 {
        font-size: 24px;
    }

    .textsContainer {
        flex-direction: column;
        gap: 16px;
    }

}

@media (max-width: 400px) {
    .container h2 {
        font-size: 24px;
    }

    .contacts>div>h3 {
        font-size: 16px;
    }

    .contacts>div>p {
        font-size: 14px;
    }

    .links {
        min-width: 320px;
    }
}